.container {
    width: min-content;
    height: min-content;
    background-color: bisque;
    margin: 10px auto;
    display: flex;
}

.cell {
    border: 0.5px solid black;
}

.btn {
    height: 50px;
    display: flex;
    margin: auto;
    align-items: center;
}